@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --font-color-dark: #23312b;
    --font-color-light: #ffffff;
    --sub-font: #c3c4c3;
    --danger: #F94A29;
    --btn-color-red: #dc3545;
    --bg-sidebar: #01140e;
    --border-color: rgba(179, 179, 187, 0.5);
}

body {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(20, auto);
    min-height: 100vh;
}


/* ------------------ --------- ------ -Sidebar */
.aside {
    grid-column: 1/12;
    grid-row: 1/21;
}

.sidebar {
    min-height: 100%;
    background-color: var(--bg-sidebar);
    color: var(--font-color-light);
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
}

.menu-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 30px;
    color: var(--btn-color-red);
}

.sidebar p {
    letter-spacing: 1px;
}

.park-info>span,
.reports>span,
.payments>span,
.profile p:nth-child(3) {
    color: var(--sub-font);
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 1rem;
}

.logo-item p {
    font-family: 'Julee', cursive;
    font-weight: bolder;
    font-size: 65px;
}

.park-info-items,
.reports-items,
.payments-items {
    display: flex;
    flex-direction: column;
}

.park-info-items div,
.reports-items div,
.payments-items div,
.logo-item div {
    min-height: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(161, 47, 47, 0.3);
}

.park-info-items div:hover,
.reports-items div:hover,
.payments-items div:hover {
    color: var(--danger);
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(146, 139, 139, 0.3);
}

.profile {
    grid-row: 10/11;
    border-top: 2px solid rgba(44, 41, 44, 0.7);
    display: flex;
    gap: 10px;
    align-items: center;
    line-height: 1.5rem;
    height: 100px;
    margin-left: 10px;
}

.img-container {
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 50%;
    border-top: 4px dashed #ffcc00;
    animation: spin 10s infinite linear;
}

.img-container img {
    animation: spin 10s infinite reverse linear;
    align-self: center;
    width: 100%;
    border-radius: 50%;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.profile div p:nth-child(1) {
    font-size: 0.75rem;
    font-weight: bold;
}

.profile div p:nth-child(2) {
    color: var(--sub-font);
    font-size: 0.65rem;
}

.back-btn {
    display: none;
    grid-row: 11/end;
}

.back-btn button {
    background-color: var(--btn-color-red);
    color: white;
    height: 50px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}



/* --------------------------------- Nav Items */
.responsive-body {
    grid-column: 12/end;
}

.nav {
    grid-row: 1/2;
    height: 70px;
    padding: 10px;
    display: grid;
    grid-template-columns: 7.5fr 2.5fr;
}

.sidebar-show-btn {
    display: none;
    border-radius: 10px;
    width: 60px;
}

#search {
    border: 1px solid rgba(146, 139, 139, 0.3);
    border-radius: 10px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: black;
}

#search:hover {
    border: 1px solid blue;
}

.nav-widgets {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-widgets div {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-dark);
    padding: 10px;
}

.nav-widgets div:hover,
.sidebar-show-btn:hover {
    cursor: pointer;
    background-color: rgba(146, 139, 139, 0.3);
    border-radius: 10px;
}

.nav-widgets div > * {
    color: var(--font-color-dark);
}

.nav-widgets div > *:hover {
    color: red;
}

.nav-widgets .material-symbols-outlined {
    font-size: 30px;
}


/* ------------------------------------------------ Notification Control */
.notification-button {
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}

.bell-icon {
    display: none;
}

#notification-popup {
    padding: 0px 20px;
    position: absolute;
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    top: 60px;
    width: 400px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}

.notification-container:hover #notification-popup {
    visibility: visible;
    opacity: 1;
    background-color: #fff;
}

#notification-popup .noti-head {
    padding: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    pointer-events: none;
}

.noti-head div:nth-child(1) {
    font-weight: 500;
}

.noti-head div:nth-child(2) {
    width: 40px;
    height: 40px;
    background-color: red;
    color: var(--font-color-light);
    border-radius: 10px;
    padding: 10px;
}

#notification-popup .noti-body {
    display: flex;
    flex-direction: column;
    padding: 0;
}

#notification-popup .noti-body:hover {
    background-color: #fff;
}

#notification-popup .noti-body-child {
    max-width: 100%;
    margin: 10px 0;
    height: 80px;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    cursor: pointer;
}

#notification-popup .noti-body > div > img {
    border-radius: 20%;
    height: 50px;
}

#notification-popup .noti-details{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    letter-spacing: 0.5px;
    pointer-events: none;
}

#notification-popup .noti-details p:nth-child(1) {
    align-self: self-start;
    font-size: 1rem;
    font-weight: bold;
}

#notification-popup .noti-details p:nth-child(2) {
    font-size: 0.75rem;
}

#notification-popup .noti-details + div {
    font-size: 1rem;
    pointer-events: none;
}


/* ---------------------------- Translate */
#translate > .country {
    position: absolute;
    width: 160px;
    top: 60px;
    height: 180px;
    border: 1px dashed var(--border-color);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    padding: 10px 0;
    visibility: hidden;
    opacity: 0;
}

#translate:hover .country {
    visibility: visible;
    opacity: 1;
    background-color: #fff;
}

#translate > .country > div {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 5px;
    align-self: self-start;
}

#translate > .country > div > img {
    margin-left: 5px;
    justify-self: center;
}

#translate > .country > div:last-child img {
    margin-left: 6px;
    height: 14px;
    width: 19px;
}

#translate > .country > div > p {
    margin-left: 5px;
}



/* ----------------------------------- Dashboard */
#dashboard-container {
    position: absolute;
    top: 60px;
    right: 50px;
    width: 240px;
    height: 240px;
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
}

#dashboard:hover #dashboard-container {
    visibility: visible;
    opacity: 1;
}

#dashboard-container > .dashboard-items {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    line-height: 20px;
}

#dashboard-container > .dashboard-items > iconify-icon {
    height: 30px;
}
#dashboard-container > .dashboard-items > p:nth-child(2) {
    font-size: 15px;
    text-align: center;
}
#dashboard-container > .dashboard-items > p:nth-child(3) {
    font-size: 10px;
    text-align: center;
}




/* -------------------------- Profile */
#profile-container {
    position: absolute;
    padding: 0;
    top: 60px;
    right: 10px;
    /* height: 100px; */
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
}

#profile:hover #profile-container {
    visibility: visible;
    opacity: 1;
}

#profile-container .items {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: start;
}

#profile-container .profile-items > p{
    font-size: 15px;
    margin-left: 15px;
    font-weight: 400;
}

#profile-container .sign-out {
    background-color: #F94A29;
    width: 100%;
    display: grid;
}

#profile-container .sign-out p {
    color: var(--font-color-light);
    font-size: 14px;
}



/* ---------------------- Welcome Message */
.welcome {
    grid-row: 2/3;
    padding-left: 20px;
}

.welcome .item1 {
    font-weight: 500;
}

.welcome .item1 span {
    font-weight: 100;
    opacity: 0.75;
    margin: 0 5px;
}

.welcome .item2 {
    margin-top: 5px;
    color: var(--font-color-dark);
    font-weight: 700;
    font-size: 1.5rem;
    opacity: 0.85;
}

.welcome .item2 span {
    margin-left: 5px;
}

.welcome .item3 {
    font-size: 0.75rem;
    color: var(--font-color-dark);
    font-weight: 400;
}




/* --------------------------- Analytics Cards */
.cards {
    max-width: 100%;
    margin: 0 1.35rem;
    grid-row: 3/8;
    display: flex;
    gap: 1.35rem;
}

.cards > div {
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    width: 20rem;
    height: 10rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.cards > div > .cars {
    display: flex;
    justify-content: space-between;
}

.cards > div > .cars > p {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--sub-font);
}

.cards > div > .cars > span {
    color: #5b28d1;    
}

.cards > div > .data {
    margin-top: 1rem;
}

.cards > div > .data span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 400;
}

.cards > div > .data span:nth-child(2) {
    margin-left: 0.2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.cards > div > .text {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--sub-font);
}



/* ----------------------- Deatils */
.details {
    grid-row: 8/11;
    margin-top: 1rem;
    min-width: 100%;
    min-height: 18rem;
    margin: 0 1.35rem;
    display: flex;
    gap: 1rem;
}

.details > div {
    border: 1px dashed var(--border-color);
    border-radius: 10px;
    width: 30%;
    padding: 1rem;
    box-sizing: border-box;
}

.wallet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.head {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--sub-font);
}

.amount {
    margin-top: 0.75rem;
}
.amount p:nth-child(1),
.earn p:nth-child(1),
.withdrawl p:nth-child(1) {
    font-weight: 400;
    font-size: 0.8rem;
}
.amount p:nth-child(1) span {
    margin-left: 2px;
    color: blue;
    cursor: pointer;
}
.amount p:nth-child(1) span:hover {
    text-decoration: underline;
    color: red;
}

.amount p:nth-child(2),
.earn p:nth-child(2),
.withdrawl p:nth-child(2) {
    font-weight: 600;
    opacity: 0.9;
    font-size: 1.25rem;
}



.downloads {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.files-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.file-item {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-self: baseline;
}

.file-item span,
.file-item iconify-icon {
    border-radius: 5px;
    color: blue;
    font-size: 25px;
    margin-right: 10px;
}

.files-container p {
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 0.75rem;
    text-align: left;
    margin-top: 5px;
}

.downloads > div:last-child {
    margin-top: 1.5rem;
    font-size: 0.75rem;
}



.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-pic-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.tr-items {
    width: 100%;
    height: 50px;
    gap: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.tr-items:hover {
    background-color: var(--sub-font);
    border-radius: 10px;
    opacity: 0.75;
    cursor: pointer;
}

.tr-items div:nth-child(1) {
    display: grid;
}

.tr-items img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.tr-items div:nth-child(2) {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: 'Julee', cursive;
}

.tr-items > span {
    margin-left: auto;
}